{%- macro curlies(item) -%}
{{ "{" }}{{ item }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro href(url, text) -%}
\href{{ "{" }}{{ url|replace("#", "\\#")|replace("%", "\\%")|replace("_", "\\_") }}{{ "}" }}{{ curlies(text) }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro label(text) -%}
\label{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro hyperlink(text) -%}
\hyperlink{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro hypertarget(text) -%}
\hypertarget{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro ndr(text) -%}
\vcdDocRef{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro njr(text) -%}
\vcdJiraRef{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro atmtc(text) -%}
\href{https://jira.lsstcorp.org/secure/Tests.jspa\#/testCase/{{ text }}{{ "}" }}{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro atmtp(text) -%}
\href{https://jira.lsstcorp.org/secure/Tests.jspa\#/testPlan/{{ text }}{{ "}" }}{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro atmcycle(text) -%}
\href{https://jira.lsstcorp.org/secure/Tests.jspa\#/testCycle/{{ text }}{{ "}" }}{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro do_product(prd) -%}
\begin{longtable}{cccc}\hline
\textbf{Manager} & \textbf{Owner} & \textbf{WBS} & \textbf{Team} \\ \hline
{{ mdt_dict[prd].manager }} &
\begin{tabular}{@{}l@{}}
{% for owner in mdt_dict[prd].owner %}
{{ owner }} \\
{% endfor %}
\end{tabular} & \begin{tabular}{@{}l@{}}
{% for wbs in mdt_dict[prd].wbs %}
{{ wbs }} \\
{% endfor %}
\end{tabular} & \begin{tabular}{@{}l@{}}
{% for team in mdt_dict[prd].teams %}
{{ team }} \\
{% endfor %}
\end{tabular} \\ \hline
\multicolumn{4}{c}{
{\footnotesize ( Short Name: {{ mdt_dict[prd].shortname }} - Acronym: {{ mdt_dict[prd].id }} ) }
}\\ \hline
\end{longtable}

  {{ mdt_dict[prd].desc }}

          {% if mdt_dict[prd].pkgs[0] != "" %}
\begin{longtable}{c}\hline
\textbf{GutHub Packages} \\ \hline
          {% for pkg in mdt_dict[prd].pkgs %}
            {% set package = pkg|replace("_", "\\_") %}
            {% set tmplist = pkg.split('/') %}
            {% if tmplist|length > 1 %}
              {% set lnk = 'https://github.com/'~pkg %}
            {% else %}
              {% set lnk = 'https://github.com/lsst/'~pkg %}
            {% endif %}
\href{{ curlies(lnk) }}{{ curlies(package) }}\\ \hline
          {% endfor %}
\end{longtable}
          {% endif %}

          {% if mdt_dict[prd].links[0] != "" %}
\begin{longtable}{c}\hline
\textbf{Hiperlink References} \\ \hline
          {% for lnk in mdt_dict[prd].links %}
          {% set text = lnk|replace("_", "\\_") %}
\href{{ curlies(lnk) }}{{ curlies(text) }}  \\ \hline
          {% endfor %}
\end{longtable}
          {% endif %}

\begin{longtable}{cc}\toprule
\multicolumn{2}{c}{\textbf{Products Dependencies} } \\ \hline
\textbf{Depends On} & \textbf{Used in}\\ \toprule
          {% if (mdt_dict[prd].depends is defined) and mdt_dict[prd].depends %}
\begin{tabular}{c}
          {% for pkey in mdt_dict[prd].depends %}
\hyperref[{{ pkey.key.lower() }}]{{ curlies(pkey.name) }} \\ \hline
          {% endfor %}
\end{tabular}
          {% endif %}
&
          {% if (mdt_dict[prd].usedin is defined) and mdt_dict[prd].usedin %}
\begin{tabular}{c}
          {% for pkey in mdt_dict[prd].usedin %}
\hyperref[{{ pkey.key.lower() }}]{{ curlies(pkey.name) }} \\ \hline
          {% endfor %}
\end{tabular}
          {% endif %}
\\ \bottomrule
\end{longtable}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro do_folder(prd) -%}
\begin{longtable}{cccc}\hline
\textbf{Manager} & \textbf{Owner} & \textbf{WBS} & \textbf{Team} \\ \hline
{{ mdt_dict[prd].manager }} &
\begin{tabular}{@{}l@{}}
{% for owner in mdt_dict[prd].owner %}
{{ owner }} \\
{% endfor %}
\end{tabular} & \begin{tabular}{@{}l@{}}
{% for wbs in mdt_dict[prd].wbs %}
{{ wbs }} \\
{% endfor %}
\end{tabular} & \begin{tabular}{@{}l@{}}
{% for team in mdt_dict[prd].teams %}
{{ team }} \\
{% endfor %}
\end{tabular} \\ \hline
\multicolumn{4}{c}{
{\footnotesize ( Short Name: {{ mdt_dict[prd].shortname }} - Acronym: {{ mdt_dict[prd].id }} ) }
}\\ \hline
\end{longtable}

  {{ mdt_dict[prd].desc }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}


% auto generated from multiple sources - DO NOT EDIT!
% using template at {{ metadata.template }}.
% Collecting data for component: "{{ metadata.component }}"
% using docsteady version {{ metadata.ptree_version }}
%
% This file is meant to be included in LaTeX document in order to provide:
%   -  MagicDraw Top Level Product Tree (section 2)

{% for k0 in mdp %}
{{ do_folder(k0) }}

 {% for child in mdp[k0]['children'] %}
  {% for k1 in child %}
\subsection{{ curlies(mdt_dict[k1].name) }}{{ label(mdt_dict[k1].id.lower()) }}
{{ do_folder(k1) }}

   {% for sc in child[k1]['children'] %}
    {% if sc is string %}
\paragraph{{ curlies(mdt_dict[sc].name) }}{{ label(mdt_dict[sc].id.lower()) }}\mbox{}\\
{{ do_product(sc) }}

    {% else %}
     {% for k2 in sc %}
\subsubsection{{ curlies(mdt_dict[k2].name) }}{{ label(mdt_dict[k2].id.lower()) }}
{{ do_folder(k2) }}

      {% for sch1 in sc[k2]['children'] %}
       {% if sch1 is string %}
\paragraph{{ curlies(mdt_dict[sch1].name) }}{{ label(mdt_dict[sch1].id.lower()) }}\mbox{}\\
{{ do_product(sch1) }}

       {% else %}
        {% for k3 in sch1 %}
\paragraph{{ curlies(mdt_dict[k3].name) }}{{ label(mdt_dict[k3].id.lower()) }}\mbox{}\\
{{ do_folder(k3) }}

         {% for sch2 in sch1[k3]['children'] %}
\subparagraph{{ curlies(mdt_dict[sch2].name) }}{{ label(mdt_dict[sch2].id.lower()) }}\mbox{}\\
{{ do_product(sch2) }}

         {% endfor %}
        {% endfor %}
       {% endif %}
      {% endfor %}
     {% endfor %}
    {% endif %}
   {% endfor %}
  {% endfor %}
 {% endfor %}
{% endfor %}