{%- macro curlies(item) -%}
{{ "{" }}{{ item }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro href(url, text) -%}
\href{{ "{" }}{{ url|replace("#", "\\#")|replace("%", "\\%")|replace("_", "\\_") }}{{ "}" }}{{ curlies(text) }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro label(text) -%}
\label{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro hyperlink(text) -%}
\hyperlink{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro hypertarget(text) -%}
\hypertarget{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro ndr(text) -%}
\vcdDocRef{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro njr(text) -%}
\vcdJiraRef{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro atmtc(text) -%}
\href{https://jira.lsstcorp.org/secure/Tests.jspa\#/testCase/{{ text }}{{ "}" }}{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro atmtp(text) -%}
\href{https://jira.lsstcorp.org/secure/Tests.jspa\#/testPlan/{{ text }}{{ "}" }}{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro atmcycle(text) -%}
\href{https://jira.lsstcorp.org/secure/Tests.jspa\#/testCycle/{{ text }}{{ "}" }}{{ "{" }}{{ text }}{{ "}" }}
{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro do_folder(prd) -%}
\begin{longtable}{p{3.7cm}p{3.7cm}p{3.7cm}p{3.7cm}}\hline
\textbf{Manager} & \textbf{Owner} & \textbf{WBS} & \textbf{Team} \\ \hline
\parbox{3.5cm}{
{{ mdt_dict[prd].manager }}
\vspace{2mm}%
} &
\begin{tabular}{@{}l@{}}
{% for owner in mdt_dict[prd].owner %}
\parbox{3.5cm}{
{{ owner }}
\vspace{2mm}%
} \\
\end{tabular}
{% endfor %} &
\begin{tabular}{@{}l@{}}
{% for wbs in mdt_dict[prd].wbs %}
{{ wbs }} \\
{% endfor %}
\end{tabular} &
\begin{tabular}{@{}l@{}}
{% for team in mdt_dict[prd].teams %}
{{ team }} \\
{% endfor %}
\end{tabular} \\ \hline
\multicolumn{4}{c}{
{\footnotesize ( Short Name: {{ mdt_dict[prd].shortname }} - Acronym: {{ mdt_dict[prd].id }} ) }
}\\ \hline
\end{longtable}

  {{ mdt_dict[prd].desc }}

{%- endmacro -%}
{# ------------------------------------------------------------------------- #}

{%- macro do_product_table(prd, parent) -%}
{# each product is rendered in two tables and the description between them #}

\newpage
\begin{longtable}{p{3.7cm}p{3.7cm}p{3.7cm}p{3.7cm}}\toprule
\multicolumn{2}{l}{\large \textbf{ {{ mdt_dict[prd].name }} } }{{ label(mdt_dict[prd].id.lower()) }}
& \multicolumn{2}{l}{(product in: {{ parent }})}
\\ \hline
\textbf{\footnotesize Manager} & \textbf{\footnotesize Owner} &
\textbf{\footnotesize WBS} & \textbf{\footnotesize Team} \\ \hline
\parbox{3.5cm}{
{{ mdt_dict[prd].manager }}
\vspace{2mm}%
} &
\begin{tabular}{@{}l@{}}
{% for owner in mdt_dict[prd].owner %}
\parbox{3.5cm}{
{{ owner }}
\vspace{2mm}%
} \\
{% endfor %}
\end{tabular} &
\begin{tabular}{@{}l@{}}
{% for wbs in mdt_dict[prd].wbs %}
{{ wbs }} \\
{% endfor %}
\end{tabular} & \begin{tabular}{@{}l@{}}
{% for team in mdt_dict[prd].teams %}
{{ team }} \\
{% endfor %}
\end{tabular} \\ \hline
\multicolumn{4}{c}{
{\footnotesize ( {{ mdt_dict[prd].shortname }} - {{ mdt_dict[prd].id }} ) }
}\\ \hline
\end{longtable}

  {{ mdt_dict[prd].desc }}

\begin{longtable}{p{3.7cm}p{3.7cm}p{3.7cm}p{3.7cm}}\hline
          {% if mdt_dict[prd].pkgs[0] != "" %}
\multicolumn{2}{r}{\textbf{GutHub Packages:}} &
           {% for pkg in mdt_dict[prd].pkgs %}
            {% set package = pkg|replace("_", "\\_") %}
            {% set tmplist = pkg.split('/') %}
            {% if tmplist|length > 1 %}
              {% set lnk = 'https://github.com/'~pkg %}
            {% else %}
              {% set lnk = 'https://github.com/lsst/'~pkg %}
            {% endif %}
            {% if loop.index == 1 %}
\multicolumn{2}{l}{\href{{ curlies(lnk) }}{{ curlies(package) }} }
            {% else %}
\\ \cline{3-4}
& & \multicolumn{2}{l}{\href{{ curlies(lnk) }}{{ curlies(package) }} }
            {% endif %}
           {% endfor %}
\\ \hline \\ \hline
          {% endif %}
          {% if mdt_dict[prd].links[0] != "" %}
\textbf{References} &
          {% for lnk in mdt_dict[prd].links %}
            {% set text = lnk|replace("_", "\\_") %}
            {% if loop.index == 1 %}
\multicolumn{3}{l}{\href{{ curlies(lnk) }}{{ curlies(text) }} }
            {% else %}
\\ \cline{2-4}
& \multicolumn{3}{l}{\href{{ curlies(lnk) }}{{ curlies(text) }} }
            {% endif %}
          {% endfor %}
\\ \hline \\ \hline
          {% endif %}
{# \multicolumn{4}{c}{\textbf{Products Dependencies} } \\ \hline #}
\textbf{\footnotesize Depends on:}  & & \textbf{\footnotesize Used in:} & \\ \hline
\multicolumn{2}{c}{
          {% if (mdt_dict[prd].depends is defined) and mdt_dict[prd].depends %}
\begin{tabular}{c}
          {% for pkey in mdt_dict[prd].depends %}
\hyperref[{{ pkey.key.lower() }}]{{ curlies(pkey.name) }} \\ \hline
          {% endfor %}
\end{tabular}
          {% endif %}
} &
\multicolumn{2}{c}{
          {% if (mdt_dict[prd].usedin is defined) and mdt_dict[prd].usedin %}
\begin{tabular}{c}
          {% for pkey in mdt_dict[prd].usedin %}
\hyperref[{{ pkey.key.lower() }}]{{ curlies(pkey.name) }} \\ \hline
          {% endfor %}
\end{tabular}
          {% endif %}
} \\ \bottomrule
\end{longtable}

{%- endmacro -%}
{# ------------------------------------------------------------------------- #}
% auto generated from multiple sources - DO NOT EDIT!
% using template at {{ metadata.template }}.
% Collecting data for component: "{{ metadata.component }}"
% using docsteady version {{ metadata.ptree_version }}
%
% This file is meant to be included in LaTeX document in order to provide:
%   -  MagicDraw Top Level Product Tree (section 2)

{% for k0 in mdp %}
{{ do_folder(k0) }}

 {% for child in mdp[k0]['children'] %}
  {% for k1 in child %}
\newpage
\subsection{{ curlies(mdt_dict[k1].name) }}{{ label(mdt_dict[k1].id.lower()) }}
{{ do_folder(k1) }}

   {% for sc in child[k1]['children'] %}
    {% if sc is string %}
{{ do_product_table(sc, mdt_dict[k1].shortname) }}

    {% else %}
     {% for k2 in sc %}
\newpage
\subsubsection{{ curlies(mdt_dict[k2].name) }}{{ label(mdt_dict[k2].id.lower()) }}
{{ do_folder(k2) }}

      {% for sch1 in sc[k2]['children'] %}
       {% if sch1 is string %}
{{ do_product_table(sch1, mdt_dict[k2].shortname) }}

       {% else %}
        {% for k3 in sch1 %}
\newpage
\paragraph{{ curlies(mdt_dict[k3].name) }}{{ label(mdt_dict[k3].id.lower()) }}\mbox{}\\
{{ do_folder(k3) }}

         {% for sch2 in sch1[k3]['children'] %}
{{ do_product_table(sch2, mdt_dict[k3].shortname) }}

         {% endfor %}
        {% endfor %}
       {% endif %}
      {% endfor %}
     {% endfor %}
    {% endif %}
   {% endfor %}
  {% endfor %}
 {% endfor %}
{% endfor %}